PORT=3000
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
DATABASE_URL=

# Auth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_APP_URL=http://localhost:3000

# Email 
RESEND_API_KEY=
RESEND_FROM_EMAIL=""

# Image Upload
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Redis url
REDIS_URL=
TTL=
QUEUE_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
REDIS_PORT=
APP_PORT=
GET_DATA_CACHE_TIME=

# for seed.ts
USER_ID=
GEO_API_BASE_URL=