# Ignore build outputs
.next
out
dist
build

# Dependency directories
node_modules

# Version control
.git
.gitignore

# Logs
*.log

# Misc
package-lock.json
yarn.lock

# OS files
.DS_Store

# Configs that shouldn’t be formatted
.prettierignore
.prettierrc
